<!doctype>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    <header class="header" data-pjax>
      <a href="/" class="home js-head">&nbsp;</a>
    </header>

    <div class="wrapper">
      {% unless page.date %}
      <div class="sidebar">
        <h3>
          Hi Everyone!
        </h3>
        <p>
          I'm Kavit. I love story telling and in my free time I play around with programming languages.
        </p>
        <p>
          I am Student at <a href="https://www.ncsu.edu/"><mark>NCSU</mark></a> currently pursuing Master's in Computer Engineering.
        </p>
    
        <h3 class="title-contact">Contact</h3>
        <p>
          Via twitter <a href="https://twitter.com/kmmtmm92">@kmmtmm92</a> or github <a href="https://github.com/Kavit900">@kavit</a>.
        </p>

        <p>
          I'm also on
          <a href="https://www.quora.com/profile/Kavit-Mehta-2">Quora</a> and
          <a href="https://www.linkedin.com/in/kavitmht">Linkedin</a>
        </p>

      </div>
      {% endunless %}
      <div class="column js-content">
        {% if page.date %}
          <article>
            <header class="post-header">
              <h3 class="post-title">{{ page.title }}</h3>
              {% if page.date %}
                <small>
                  {{ page.date | date_to_string }} -
                  by <a href="https://twitter.com/kmmtmm92" target="_blank">@kmmtmm92</a>
                </small>
              {% endif %}
            </header>
            {{ content }}
          </article>
          <div class="pagination" data-pjax>
            {% if page.previous %}
              <a class="page-nav" href="{{ page.previous.url }}" id="js-previous-post">
                &lt; {{ page.previous.title }}
              </a>
            {% endif %}
            {% if page.next %}
              <a class="page-nav" href="{{ page.next.url }}" id="js-next-post">
                {{ page.next.title }} &gt;
              </a>
            {% endif %}
          </div>
        {% else %}
          {{ content }}
        {% endif %}
      </div>
    </div>
    <footer class="footer">
      The end.
    </footer>
  </body>
</html>
